p, q {
    font-size: 22px;
}
p.ligne::first-line {
    color:#85B200;
}
p.lettrine::first-letter {
    font-size: 80px;
    color:#85B200;
    float: left;
    margin: 10px 10px 0 4px;
}
p.before::before {
    content:"Mot avant ";
    color:#85B200;
    margin-left:-48px;
}
p.before {
    margin-left:48px;
}
li::before {
    content: attr(data-ref)" - ";
}
section h1::before {
    content: url(../img/section.png)" ";
    cursor: pointer;
}
q {
    /*quotes:"\00AB""\00BB""\00A8""\00A8";*/
    quotes: "\2600""\201D""\2018""\2019";
}
q::before {
    content: open-quote;
    color:#85B200;
    font-size: 1.2em;
}
q::after {
    content: close-quote;
    color:#85B200;
    font-size: 1.2em;
}


