body {
    counter-reset: titre;
    padding: 10px;
    width: 100%;
}

h1 {
   font-size: 0.5em;
    color: hsl(50,50%,30%);
}

h1:before {
    content: counter(titre) " - ";
}

div{
    background-color: #3c763d;
    width: 50vw;
    height: 100px;
}

div > div{
    background-color: #014c8c;
    width: 10vw;
}